
body {
    line-height: 1.5;
    font-size: 100%;
    font-family: sans-serif;
    color: #161616;
}

header {
    padding-top: 4em;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

.download-form {
    width: 33.33333%;
    margin: 0 auto;
    padding: 4em;
    text-align: center;
}

.download-form select {
    width: 100%;
    font-size: 1em;
    border: 0;
    background: #dc0067;
    color: #ffffff;
    padding: 0.5em 1em;
    display: block;
    margin-bottom: 1em;
    border-radius: 0;
    -webkit-appearance: none;
}

.download-form button {
    display: block;
    font-size: 1em;
    border: 0;
    color: #ffffff;
    padding: 1em;
    cursor: pointer;
    background: #2d2d2d;
    width: 100%;
    margin-bottom: 1em;
}

.download-form button:hover {
    opacity: 0.9;
}
